<div class="container-fluid p-3">
<h1>Inserimento Clienti</h1>

<form [formGroup]="homeform" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" name="nome" formControlName="nome">
  </mat-form-field>
  <!-- <p *ngIf="homeform.get('nome').valid && homeform.get('nome').touched">Inserire Nome</p> -->
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" name="email" formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nazione</mat-label>
    <input matInput type="text" name="nazione" formControlName="nazione">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!homeform.valid">Invio</button>
</form>
</div>

